<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>D3 Project</title>
	<link rel="stylesheet" href="..static/css/d3Style.css">
	<title>Data Journalism</title>
	<link rel="stylesheet" href="..static/css/style.css">
	<script src="https://d3js.org/d3.v4.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
</head>
<body>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="..static/js/app.js"></script>
</body>
</html>
